* {
  box-sizing: border-box;
}

body {

  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6em; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

header {
  background-color: #D8D8D8;
  width: 100%;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin: auto auto; /* No spacing to top and bottom and auto spacing to left and right */
  border-bottom: 2px solid #4a4a4a;
  text-align: center;
  box-shadow:         1px 11px 10px 0px rgba(50, 50, 50, 0.56);
  position: fixed;
}

main{
  width: 100%;
  padding-top: 175px;
  padding-bottom: 0px;
}

footer{
  background-color: #D8D8D8;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;

}
/*
.navbar {
  display: inline-block;
  width: 1005;
  position: fixed;
  text-align: left;
  background-color: #D8D8D8;
}
*/
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-decoration: underline;

}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* custom logo sizing */
#logo {
  width: 5em;
  height: auto;
  padding: 2px ;
}

#social-icons{
  width: 32px;
  height: auto;
}

/* resize images */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 25px;
}

/*link stylizing*/
a {
  color: #00acc0;
  text-decoration: none; /* No underlining */
}

a:hover {
  color: #00daf3;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:focus {
  color: #00daf3;
  text-decoration: underline;
}

}
a:active { /* selected link */
  color: #994c30;
}


/* stylizing buttons */
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #00acc0;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #00daf3; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #00acc0;
  text-transform: uppercase;
  border: 2px solid #00acc0;
}
.button.contact:hover {
  background-color: #00acc0;
  color: #ffffff;
}

.button.nav {
  background-color: transparent;
  color: #00acc0;
  font-weight: 700;
  padding: 0 15px;
  text-transform: uppercase;
  border: 2px solid #00acc0;
  transition: 0.2s opacity;
}

.button.nav:hover {
  background-color: #00acc0;
  color: #ffffff;
}
/* Layout styling */

.container {
  width:100%;
  padding: 0 15px;
  max-width: 1200px;
}

#work .row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px;
  border-bottom: 2px solid #4a4a4a;
}

/* nav bar styling */
nav { 
  display: inline-block;
  width: 80%;
 }

nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 9px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:hover {
  padding: 0 9px;
  text-transform: uppercase;
  font-weight: 700;
  color: #00acc0;
}


/* Hero section  */
#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
  text-align: center; /* Centers text */
}


.social{
  text-align: center;
  display: inline-block;

}

/* column organization */

[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*.center {
  text-align: center;
}*/

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
  text-align: unset;
  padding: 13px 0 13px;
  }

  nav { 
  width: auto;
  float: right;
  margin-top: 0px;
  font-size: 1em;
  padding: 10px;
  }
  main {
  padding: 100px 0;
  }

  #hero span {
  display: block;
  }
  .col-md-6 {
  width: 50%;
  }

  #logo {
  width: 5em;
  height: auto;
  padding: 15px ;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
   header {
  text-align: unset;
  padding: 20px 0 13px;
  }

  nav { 
  width: auto;
  float: right;
  margin-top: 4px;
  font-size: 1em;
  padding: 15px;
  }
  main {
  padding: 100px 0;
  }

  #hero span {
  display: block;
  }
  .col-lg-6 {
  width: 50%;
  }
  .col-lg-7 {
  width: 58.33%%;
  }
  .col-lg-5 {
  width: 41.66%;
  }

  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;}


}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}

/* ------------------((((((((((((()))))))))))))
ANIMATIOAN 
---------------((((((((((((())))))))))))) */

/* ++++++++ CLOUDS ++++++++ */


.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

/* ++++++++ SUN ++++++++ */


.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}

}

